<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem</title>
</head>
<body>
    <table cellpadding="8px" border="1px" width="600px" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao.descricao }}</td>
                <td>{{ transacao.dt_trasacao }}</td>
                <td>R$ {{ transacao.valor }}</td>
                <td>{{ transacao.categoria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'url_transacao' %}">Nova Transação</a>
</body>
</html>